@page "/counter"

<Tap1 ActivetabIndex="@ActivetabIndex"/>
<Tap2 ActivetabIndex="@ActivetabIndex"/>
<Tap3 ActivetabIndex="@ActivetabIndex"/>

<div class="bottombar">
   <Bottombar @bind-ActivetabIndex="ActivetabIndex"/>
</div>

@code {
    public int ActivetabIndex { get; set; } = 0;
}
