@page "/page3"

@layout NotesLayout

@*@if(ActivetabIndex==2)
{
*@    <h1>3eme trimestre 2022</h1>
    <img src="/img/note.png" style="width:100%; height:500px" />
@*}

@code{
    [Parameter] public int ActivetabIndex { get; set; }
}*@