@inherits LayoutComponentBase

@using BlazorPro.BlazorSize
@inject IJSRuntime JS

<h1>@isDarck</h1>

<MediaQueryList>
	<MediaQuery Media="(prefers-color-scheme: dark)" @bind-Matches="isDarck" />
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
</MediaQueryList>

@code{
	private bool _isDarck;
	public bool isDarck
	{
		get
		{
			return _isDarck;
		}
		set
		{
			_isDarck = value;
			if (_isDarck)
			{
				JS.InvokeVoidAsync("setTheme", "theme-dark", "theme-light");
			}
			else
			{
				JS.InvokeVoidAsync("setTheme", "theme-light", "theme-dark");
			}
		}
	}
}