@page "/"

@*<div class="row">
    <div class="row m-0">
          <div style="background-color:red" class="baseboxstyle hboxstyle">.</div>
          <div style="background-color:blue" class="baseboxstyle hboxstyle">.</div>
          <div style="background-color:green" class="baseboxstyle hboxstyle">.</div>
    </div>

     <div class="col mt-2">
        <div style="background-color:red" class="baseboxstyle vboxstyle">.</div>
        <div style="background-color:blue" class="baseboxstyle vboxstyle">.</div>
        <div style="background-color:green" class="baseboxstyle vboxstyle">.</div>
    </div>
</div>*@


@*<div  class="position-relative">
    <div class="position-absolute" style="top: 50px; left: 50px; height:100px; width:100px; background-color:red; transform: rotate(30deg)"></div>
    <div class="position-absolute" style="top: 50px; left: 50px; height:100px; width:100px; background-color:green; transform: rotate(60deg)"></div>
    <div class="position-absolute" style="top: 50px; left: 50px; height:100px; width:100px; background-color:blue;"></div>
</div>
*@


<div class="row vh-100">
    <div class="row">
        <div class="col-lg-6 col-sm-2 bg-primary">0-0</div>
        <div class="col-lg-6 col-sm-8 bg-success">0-1</div>
    </div>

    <div class="row">
        <div class="col-2 bg-secondary">1-0</div>
        <div class="col bg-danger">1-1</div>
    </div>

    <div class="row">
        <div class="col-2 bg-warning">2-0</div>
        <div class="col">2-1</div>
    </div>
</div>

