<div id="boxProfile">
    <img src="/img/amatallah.jpeg" id="profileImage">
    <div>
        <p class="profileName">Zekiri Amatallah</p>
        <p class="profileStat"><span>6eme</span>2002-2003</p>
    </div>
</div>