@page "/"
@inject IJSRuntime JS
<div class="col-lg-4 col-sm-6">
    <div class="card preview">
        <div class="options">
            <h3>Quartz</h3>
            <p>A glassmorphic layer</p>
            <div class="btn-group"><a class="btn btn-primary" href="quartz/">Preview</a></div>
            <div class="btn-group">
                <a class="btn btn-primary" href="5/quartz/bootstrap.min.css" onclick="gtag('event', 'download', {'event_category': 'quartz', 'event_label': 'bootstrap.min.css'});" download="">Download</a>
                <a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" href="#"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="5/quartz/bootstrap.min.css" onclick="gtag('event', 'download', {'event_category': 'quartz', 'event_label': 'bootstrap.min.css'});" download="">bootstrap.min.css</a>
                    <a class="dropdown-item" href="5/quartz/bootstrap.css" onclick="gtag('event', 'download', {'event_category': 'quartz', 'event_label': 'bootstrap.css'});" download="">bootstrap.css</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="5/quartz/_variables.scss" onclick="gtag('event', 'download', {'event_category': 'quartz', 'event_label': '_variables.scss'});" download="">_variables.scss</a>
                    <a class="dropdown-item" href="5/quartz/_bootswatch.scss" onclick="gtag('event', 'download', {'event_category': 'quartz', 'event_label': '_bootswatch.scss'});" download="">_bootswatch.scss</a>
                </div>
            </div>
        </div>
    </div>
</div>
<label class="switch">
    <input type="checkbox" @bind-value="@Checked">
    <span class="slider round"></span>
</label>

<h1>@Checked</h1>
<br />
@{
    if (Checked == true)
    {
        <p>theme-dark</p>
    }
    else
    {
        <p>theme-light</p>
    }
}

<button @onclick="onClick">Save</button>

@code {
    public bool Checked { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Checked = await JS.InvokeAsync<bool>("isDarkTheme");
    }

    public void onClick()
    {
        if (Checked)
        {
            JS.InvokeVoidAsync("setTheme", "theme-dark", "theme-light");
        }
        else
        {
            JS.InvokeVoidAsync("setTheme", "theme-light", "theme-dark");
        }
    }
}







@*

-------------------- الدرس الاول      ----------------------------------------
<h1>Hello, world!</h1>

<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

<div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />*@
