@page "/page2"
@layout EmptyLayout
@inject NavigationManager NavigationManager

<h1 style="color:blue">Page2</h1>
<a href="/" class="btn btn-primary" role="button">Go to page 1</a>
<button type="button" class="btn btn-info" @onclick="OnClick">Go to page 1</button>
@code{
    private void OnClick()
    {
        NavigationManager.NavigateTo("/");
    }
}