<div>
    <div id="boxProfile">
        <img src="/img/amatallah.jpeg" id="profileImage">
        <div>
            <p class="profileName">Zekiri Amatallah</p>
            <p class="profileStat"><span>6eme</span>2002-2003</p>
        </div>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="icon baby" aria-hidden="true"></span> Cahier de textes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="icon contrat" aria-hidden="true"></span> Notes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="icon report" aria-hidden="true"></span> Compétences
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map">
                <span class="icon map" aria-hidden="true"></span> Vie scolaire
            </NavLink>
        </li>

        <li class="nav-item px-3 logout">
            <NavLink class="nav-link" href="/account/Login">
                <span class="icon logout" aria-hidden="true"></span>Me déconnecter
            </NavLink>
        </li>
    </ul>
</div>
